<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dosya Arama</title>
    <link rel="shortcut icon" href="/static/images/global_Toren-logo.png" type="image/png"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
        }
        h1 {
            font-weight: 600;
            color: #2c3e50;
        }
        .container {
            margin-top: 50px;
            background-color: #ffffff;
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }
        .btn-primary, .btn-secondary, .btn-dashboard, .btn-upload {
            border-radius: 25px;
            padding: 10px 20px;
            font-weight: 500;
            transition: all 0.3s ease;
        }
        .btn-primary:hover, .btn-secondary:hover, .btn-dashboard:hover, .btn-upload:hover {
            background-color: #1abc9c;
            border-color: #1abc9c;
        }
        table {
            background-color: #ffffff;
            border-radius: 10px;
        }
        th, td {
            padding: 15px;
            text-align: center;
        }
        .form-control, .form-select {
            border-radius: 25px;
            padding: 10px;
        }
        .alert {
            margin-bottom: 20px;
        }
        footer {
            margin-top: 30px;
            text-align: center;
            font-size: 0.9em;
            color: #6c757d;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Mesajların gösterileceği alan -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-dismissible fade show" role="alert">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="d-flex justify-content-between align-items-center">
            <h1>Dosya Arama</h1>
            <div>
                
                <a href="{{ url_for('file.upload_file') }}" class="btn btn-upload btn-success me-2">Dosya Yükle</a>
                {% if current_user.rol in ['patron', 'müdür', 'müdür_yardımcısı','admin'] %}
                    <a href="{{ url_for('admin.dashboard') }}" class="btn btn-dashboard btn-warning me-2">Yönetici Paneline Git</a>
                {% endif %}
                <a href="{{ url_for('auth.logout') }}" class="btn btn-secondary">Çıkış Yap</a>
            </div>
        </div>

        <!-- Arama Formu -->
        <form action="{{ url_for('search.search') }}" method="GET" class="mt-4">

            <div class="row">
                <!-- Kodu -->
                <div class="col-md-6 mb-3">
                    <label for="kodu" class="form-label">Kodu:</label>
                    <input type="text" class="form-control" name="kodu" placeholder="Kodu girin (isteğe bağlı)">
                </div>

                <!-- Kategori -->
                <div class="col-md-6 mb-3">
                    <label for="kategori" class="form-label">Kategori:</label>
                    <select class="form-control" name="kategori">
                        <option value="">Kategori Seçin (isteğe bağlı)</option>
                        <option value="İthalat">İthalat</option>
                        <option value="İhracat">İhracat</option>
                    </select>
                </div>

                <!-- İntaç Başlangıç Tarihi -->
                <div class="col-md-6 mb-3">
                    <label for="intac_start_date" class="form-label">İntaç Başlangıç Tarihi:</label>
                    <input type="date" class="form-control" name="intac_start_date">
                </div>

                <!-- İntaç Bitiş Tarihi -->
                <div class="col-md-6 mb-3">
                    <label for="intac_end_date" class="form-label">İntaç Bitiş Tarihi:</label>
                    <input type="date" class="form-control" name="intac_end_date">
                </div>

                <!-- GGB Başlangıç Tarihi -->
                <div class="col-md-6 mb-3">
                    <label for="ggb_start_date" class="form-label">GGB Başlangıç Tarihi:</label>
                    <input type="date" class="form-control" name="ggb_start_date">
                </div>

                <!-- GGB Bitiş Tarihi -->
                <div class="col-md-6 mb-3">
                    <label for="ggb_end_date" class="form-label">GGB Bitiş Tarihi:</label>
                    <input type="date" class="form-control" name="ggb_end_date">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Ara</button>
                </div>
            </div>
        </form>

        <!-- CSV İndir Butonları -->
        <div class="mt-3 d-flex justify-content-between">
            <a href="{{ url_for('search.download_csv') }}" class="btn btn-secondary">Tüm Dosyaları CSV Olarak İndir</a>


            <a href="{{ url_for('search.download_filtered_csv') }}?{% for param, value in request.args.items() %}{{ param }}={{ value }}&{% endfor %}" class="btn btn-secondary">Filtrelenen Dosyaları CSV Olarak İndir</a>

        </div>

                <!-- Arama Sonuçları -->
        {% if results is not none %}
        {% if results %}
            <h2 class="mt-5">Arama Sonuçları ({{ results|length }})</h2>
            
            <!-- Tablo için yatay kaydırma kapsayıcısı -->
            <div style="overflow-x: auto;">
                <table class="table table-striped mt-3">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Kodu</th>
                            <th>Ürün Adı</th>
                            <th>Cari Adı</th>
                            <th>Cari Ülkesi</th>
                            <th>Miktar</th>
                            <th>Döviz Cinsi</th>
                            <th>Kur</th>
                            <th>Döviz Tutarı</th>
                            <th>TL Tutarı</th>
                            <th>Gümrük</th>
                            <th>İntaç Tarihi</th>
                            <th>GGB Tarihi</th>
                            <th>Kategori</th>
                            <th>Eklenme Tarihi</th>
                            <th>İndir</th>
                            {% if current_user.rol in ['patron', 'müdür', 'müdür_yardımcısı','admin'] %}
                            <th>Sil</th> <!-- Sadece yetkili kişiler için silme butonu görünür olacak -->
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in results %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ file.kodu }}</td>
                            <td>{{ file.urun_adi }}</td>
                            <td>{{ file.cari_adi }}</td>
                            <td>{{ file.cari_ulkesi }}</td>
                            <td>{{ file.miktar }}</td>
                            <td>{{ file.doviz_cinsi }}</td>
                            <td>{{ file.kur }}</td>
                            <td>{{ file.doviz_tutari }}</td>
                            <td>{{ file.tl_tutari }}</td>
                            <td>{{ file.gumruk }}</td>
                            <td>{{ file.intac_tarihi.strftime('%d.%m.%Y') if file.intac_tarihi else 'Boş' }}</td>
                            <td>{{ file.ggb_tarihi.strftime('%d.%m.%Y') if file.ggb_tarihi else 'Boş' }}</td>
                            <td>{{ file.kategori }}</td>
                            <td>{{ file.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                            <td>
                                <a href="{{ url_for('file.download_file', file_id=file.id) }}" class="btn btn-primary">İndir</a>
                            </td>
                            {% if current_user.rol in ['patron', 'müdür', 'müdür_yardımcısı','admin'] %}
                            <td>
                                <form action="{{ url_for('file.delete_file', file_id=file.id) }}" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">Sil</button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- overflow-x kapsayıcı div sonu -->

        {% else %}
            <p class="mt-4">Sonuç bulunamadı.</p>
        {% endif %}
        {% endif %}

    
        <!-- Footer -->
        <footer>
            <p>© 2024 Dosya Yükleme Sistemi. Tüm hakları Tören Gıda San. ve Tic. A.Ş tarafından saklıdır.</p>
        </footer>
        <script>
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.classList.remove('show');
                    alert.classList.add('fade');
                    setTimeout(function() {
                        alert.remove();
                    }, 300); // Animasyon süresi
                });
            }, 4000);
        </script>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
            function confirmDelete() {
                return confirm('Bu dosyayı silmek istediğinizden emin misiniz?');
            }

            function formatNumber(number) {
                if (number === null || number === undefined) return '';
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                             .replace('.', ',');
            }

            document.addEventListener('DOMContentLoaded', function() {
                const miktarCells = document.querySelectorAll('td:nth-child(6)');
                const dovizTutariCells = document.querySelectorAll('td:nth-child(9)');
                const tlTutariCells = document.querySelectorAll('td:nth-child(10)');

                miktarCells.forEach(cell => {
                    const value = parseFloat(cell.textContent);
                    if (!isNaN(value)) {
                        cell.textContent = formatNumber(value.toFixed(2));
                    }
                });

                dovizTutariCells.forEach(cell => {
                    const value = parseFloat(cell.textContent);
                    if (!isNaN(value)) {
                        cell.textContent = formatNumber(value.toFixed(2));
                    }
                });

                tlTutariCells.forEach(cell => {
                    const value = parseFloat(cell.textContent);
                    if (!isNaN(value)) {
                        cell.textContent = formatNumber(value.toFixed(2));
                    }
                });
            });
        </script>
    </body>
    </html>
    